*{
	margin: 0;
	padding: 0;
}
body{
	background: #000000;
}
#perspective{
	perspective: 800px;
}
#wrap{
	position: relative;
	margin:150px auto;
	width: 133px;
	height: 200px;
	transform-style: preserve-3d;
	transform: rotateX(0deg) rotateY(0deg);
}
#wrap img{
	position: absolute;
	border:1px solid #ccc;
	-webkit-box-reflect:below 0px 
	-webkit-linear-gradient(transparent,transparent 60%,rgba(255,255,255,.6))
}

@-webkit-keyframes soso{
	0%{
		transform: rotate3d(1,1,1,60deg);
		}

	50%{
		transform: rotateY(180deg);
	}
	100%{
		transform: scale(2);
	}
}